<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Image app - Edit your images online</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: none;
        }
    </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><svg height="65" width="100">
                <defs>
                  <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="100%" style="stop-color:rgb(102, 217, 255);stop-opacity:1" />
                  </linearGradient>
                </defs>
                <ellipse cx="50" cy="35" rx="42" ry="27" fill="url(#grad1)" />
                <text fill="#ffffff" font-size="22" font-family="Verdana" x="16" y="42">MyApp</text>
                Sorry, your browser does not support inline SVG.
              </svg></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/howtouse">How to Use</a>
                </ul>
                <form class="d-flex" role="search">
                  <button class="btn btn-outline-success mx-2" type="submit">Login</button>
                  <button class="btn btn-outline-success mx-2" type="submit">Signup</button>
                </form>
              </div>
            </div>
          </nav>
        <div class="container-fluid">
            <p></p>
            <h4>It's an image format converter in which we are converting an image from one format to another format.</h4>
            <h5>Process</h5>
            <p><b>Step 1.</b> Select an image file which you want to convert.</p>
            <p><b>Step 2.</b> Choose an operation in which you want to change it.</p>
            <p><b>Step 3.</b> Click on Success button.</p>
        </div>
        <div class="text-center">
            <div id="footer">
              Made in India with &hearts;
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>